* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.hidden {
    display: none;
}

/*text*/

p, h1, h2, h3, button, input, label, a, i, textarea, input[type="number"] {
    font-family: sans-serif;
    color: rgb(51,51,51);
}

p, button, input, textarea {
    font-size: 16px;
    padding-bottom: 10px;
}

h1, h2 {
    font-weight: lighter;
    padding-bottom: 15px;
}

/*form*/

form label {
    padding-bottom: 15px;
}

form textarea, form input[type="number"] {
    margin-bottom: 25px;
    width: 100%;
}

form textarea:last-child, form label:last-child, input[type="number"] {
    margin-bottom: 0;
    padding-bottom: 0;
}

form label {
    display: inline-block;
}

textarea, input[type="number"] {
    border-radius: 10px;
    border: 1px solid rgb(220,220,220);
    padding: 10px 20px;
    resize: vertical;
}

textarea {
    min-height: 100px;
}

.form-status {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(232, 197, 71);
    border-radius: 10px;
    color: white;
    margin-bottom: 20px;
    width: 100%;
}

.form-status.hidden {
    display: none;
}

.radio-wrapper {
    display: grid;
    grid-template-columns: max-content max-content 30px max-content max-content;
    grid-gap: 10px;
    align-items: baseline;
    margin-bottom: 10px;
}

.range-wrapper {
    display: grid;
    grid-template-columns: max-content 1fr max-content;
    grid-gap: 20px;
    margin-bottom: 30px;
}

.range-wrapper label, .range-wrapper input {
    padding-bottom: 0;
}

.range-wrapper .range-description {
    grid-column: 1/4;
    padding-bottom: 0;
}

.checkbox_wrapper {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-gap: 20px;
    margin-bottom: 20px;
    align-items: baseline;
}

/*global*/

main {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(var(--vh, 1vh) * 100);
    width: 100%;
    background-color: white;
    padding: 40px;
}

#form-wrapper {
    background-color: white;
    border-radius: 10px;
    padding: 50px;
    box-shadow: 0px 10px 30px rgb(0,0,0,0.10);
    max-width: 600px;   
    border: 1px solid rgb(220,220,220);
    max-height: calc(var(--vh, 1vh) * 100 - 100px);
    overflow: auto;
}

#form-wrapper .description {
    padding-bottom: 20px;
}

#form-wrapper .actions {
    display: grid;
    grid-template-columns: max-content 1fr max-content;
    background-color: rgb(245,245,245);
    margin: 0 -50px -50px -50px;
    padding: 20px 50px;
    position: sticky;
    bottom: -50px;
    border-top: 1px solid rgb(220,220,220);
}

#form-wrapper .actions .middle {
    display: flex;
    justify-content: center;
}

#form-wrapper .content {
    padding: 20px 0px 30px 0;
}

@media only screen and (max-width: 480px) {
    main {
        padding: 10px;
    }

    #form-wrapper {
        max-height: calc(var(--vh, 1vh) * 100 - 20px);
    }

    #form-wrapper .actions {
        bottom: -50px;
    }
}

@media only screen and (max-width: 360px) {
    #form-wrapper {
        padding: 40px 20px 20px 20px;
    }

    #form-wrapper .actions {
        padding: 20px;
        margin: 0 -20px -20px -20px;
    }

    #form-wrapper .actions {
        bottom: -20px;
    }
}

/*button*/

.button {
    display: inline-block;
    background-color: rgb(20,146,230);
    border-radius: 100px;
    padding: 10px 20px;
    border: none;
    color: white;
    cursor: pointer;
}

a.button {
    text-decoration: none;
}

.button.hidden {
    display: none;
}

.button.disabled {
    opacity: 0.5;
    pointer-events: none;
}

/*moment list*/

.moment-list, .moment-list .list, .moment-select-list {
    display: grid;
    width: 100%;
    grid-gap: 20px;
}

.moment-list .moment, .moment-select-list .moment {
    display: grid;
    grid-template-columns: 1fr max-content;
    grid-gap: 20px;
    width: 100%;
}

.moment-list .moment .button {
    align-self: flex-start;
}

.moment-list #add-moment {
    margin: 0 auto;
}

/*moment selection list*/

.moment-select-list .moment {
    background-color: rgb(245,245,245);
    border-radius: 10px;
    border: 1px solid rgb(220,220,220);
    padding: 10px 20px;
}

.moment-select-list .moment p {
    padding-bottom: 0;
}

/*experience completion*/

.item-form {
    background-color: rgb(245,245,245);
    border: 1px solid rgb(220,220,220);
    border-radius: 10px;
    padding: 20px;
}

.item-form .item {
    display: grid;
    padding-bottom: 20px;
}

.item-form .item p {
    display: inline-block;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid rgb(220,220,220);
}





